# Policy Prediction

<b>Library Imports</b> :

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

'''
axis : {0 or ‘index’, 1 or ‘columns’}, default 0
0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise

'''

'\naxis : {0 or ‘index’, 1 or ‘columns’}, default 0\n0 or ‘index’ for row-wise, 1 or ‘columns’ for column-wise\n\n'

<b>Read Data</b> :

In [2]:
train = pd.read_csv("Data/train.csv")
train = pd.read_csv("Data/train_short.csv")
test = pd.read_csv("Data/test.csv")
test_session = pd.read_csv("Data/test_session_history.csv")

<b>Explore Training Data</b>:

In [3]:
train.head()

,customer_ID,shopping_pt,record_type,day,time,state,location,group_size,homeowner,car_age,car_value,risk_factor,age_oldest,age_youngest,married_couple,C_previous,duration_previous,policy,cost
0,140813,9,1,2,13:02,PA,37390,1,0,13,e,NaN,24,24,0,1.0,5.0,1,675
1,140815,6,1,3,13:41,FL,33166,2,0,2,e,2.0,52,21,0,1.0,6.0,4,653
2,140809,7,1,4,14:45,PA,39166,1,1,20,d,NaN,51,51,0,3.0,1.0,1,620
3,140811,6,1,1,12:42,RI,38272,1,0,17,c,3.0,24,24,0,3.0,8.0,3,661
4,281617,7,1,2,9:47,IA,43903,1,0,12,e,NaN,55,55,0,4.0,4.0,3,595

<b>Data Preparation and Cleaning</b> :

<u>`Step 1`</u> : Remove the default index added to the Data Frame.

We can set the customer_ID as the index as this uniquely identifies the customer in the dataframe/dataset.
To do this we can use the Pandas <b><i>set_index</i></b> function.

In [4]:
train.set_index('customer_ID', drop=True, inplace=True)
train.head()

,shopping_pt,record_type,day,time,state,location,group_size,homeowner,car_age,car_value,risk_factor,age_oldest,age_youngest,married_couple,C_previous,duration_previous,policy,cost
customer_ID,,,,,,,,,,,,,,,,,,
140813,9,1,2,13:02,PA,37390,1,0,13,e,NaN,24,24,0,1.0,5.0,1,675
140815,6,1,3,13:41,FL,33166,2,0,2,e,2.0,52,21,0,1.0,6.0,4,653
140809,7,1,4,14:45,PA,39166,1,1,20,d,NaN,51,51,0,3.0,1.0,1,620
140811,6,1,1,12:42,RI,38272,1,0,17,c,3.0,24,24,0,3.0,8.0,3,661
281617,7,1,2,9:47,IA,43903,1,0,12,e,NaN,55,55,0,4.0,4.0,3,595

<u>`Setp 2`</u> : To check for missing values

We can use the Pandas <b><i>count</i></b> function.

The count function returns Series with number of non-NA/null observations over requested axis. Works with non-floating point data as well (detects NaN and None).

In the step below we can see that there are 67663 rows in all columns except - risk_factor, C_previous and duration_previous. This is because these columns have missing/NaN values.

In [5]:
train.count(axis=0, level=None, numeric_only=False)

shopping_pt          67663
record_type          67663
day                  67663
time                 67663
state                67663
location             67663
group_size           67663
homeowner            67663
car_age              67663
car_value            67663
risk_factor          43618
age_oldest           67663
age_youngest         67663
married_couple       67663
C_previous           67103
duration_previous    67103
policy               67663
cost                 67663
dtype: int64

An alternate to the <b><i>count</i></b> function is the <b><i>info</i></b> function, which gives the concise summary of a DataFrame as below.

In [6]:
train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67663 entries, 140813 to 123397
Data columns (total 18 columns):
shopping_pt          67663 non-null int64
record_type          67663 non-null int64
day                  67663 non-null int64
time                 67663 non-null object
state                67663 non-null object
location             67663 non-null int64
group_size           67663 non-null int64
homeowner            67663 non-null int64
car_age              67663 non-null int64
car_value            67663 non-null object
risk_factor          43618 non-null float64
age_oldest           67663 non-null int64
age_youngest         67663 non-null int64
married_couple       67663 non-null int64
C_previous           67103 non-null float64
duration_previous    67103 non-null float64
policy               67663 non-null int64
cost                 67663 non-null int64
dtypes: float64(3), int64(12), object(3)
memory usage: 9.8+ MB

<u>`Step 3`</u> : To drop the NaN values

We can use the Pandas <b><i>dropna</i></b> function

The <b><i>dropna</i></b> function returns objects with labels on given axis omitted where alternately any or all of the data are missing

In [8]:
train.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

,shopping_pt,record_type,day,time,state,location,group_size,homeowner,car_age,car_value,risk_factor,age_oldest,age_youngest,married_couple,C_previous,duration_previous,policy,cost
customer_ID,,,,,,,,,,,,,,,,,,
140815,6,1,3,13:41,FL,33166,2,0,2,e,2.0,52,21,0,1.0,6.0,4,653
140811,6,1,1,12:42,RI,38272,1,0,17,c,3.0,24,24,0,3.0,8.0,3,661
281623,9,1,2,9:51,MD,31741,1,0,18,e,3.0,35,35,0,1.0,3.0,1,669
140829,5,1,0,14:49,MD,31888,1,1,9,e,1.0,64,64,0,3.0,10.0,2,607
281613,5,1,2,15:44,FL,31168,1,1,14,d,1.0,68,68,0,3.0,3.0,1,550
140821,4,1,2,11:33,FL,33790,1,1,13,f,2.0,44,44,0,1.0,9.0,3,635
281607,3,1,4,10:04,AR,32254,1,1,18,f,3.0,72,72,0,2.0,1.0,3,622
140847,5,1,4,17:45,NV,43606,1,0,2,c,2.0,62,62,0,1.0,7.0,2,621
281663,4,1,4,16:48,WA,31696,1,0,8,f,4.0,25,25,0,4.0,2.0,4,620
140837,9,1,4,12:24,FL,30400,2,1,1,h,3.0,75,72,1,4.0,2.0,2,706
281655,5,1,0,11:08,OH,30391,1,1,7,d,2.0,66,66,0,1.0,15.0,2,571
140863,8,1,2,10:34,IN,32458,1,1,9,f,4.0,31,16,0,2.0,12.0,1,560
140861,8,1,0,12:09,NY,30358,2,1,2,f,1.0,44,42,1,3.0,13.0,1,667
140851,9,1,4,14:04,NY,34546,1,1,3,d,2.0,29,29,0,4.0,2.0,1,599
281693,5,1,3,13:34,NY,42685,1,0,2,f,3.0,30,30,0,4.0,2.0,1,655
140873,9,1,3,14:13,NY,30769,1,0,2,e,4.0,30,30,0,3.0,8.0,1,734
140875,6,1,1,14:44,FL,33958,1,0,15,f,3.0,46,46,0,1.0,3.0,1,644
281687,8,1,5,13:48,PA,36349,1,1,9,f,4.0,31,31,0,3.0,3.0,3,568
281681,7,1,0,11:15,NY,35512,1,0,7,f,2.0,22,22,0,4.0,6.0,1,646
281683,5,1,1,12:13,NY,38068,2,0,1,h,1.0,75,71,1,3.0,5.0,1,698
140871,7,1,1,12:21,NM,42370,2,1,17,f,4.0,64,64,1,1.0,8.0,1,562
140891,5,1,2,14:12,NY,46546,1,1,10,d,1.0,51,51,0,1.0,5.0,1,645
140895,8,1,3,17:01,AL,36073,1,1,7,e,1.0,75,75,1,3.0,15.0,2,696
281675,7,1,4,12:02,FL,31369,1,1,2,g,1.0,75,73,1,1.0,4.0,2,605
281665,8,1,4,14:50,NY,39325,1,0,1,g,2.0,27,27,0,3.0,1.0,1,716
281667,9,1,4,16:14,MD,45025,1,0,28,b,3.0,31,31,0,1.0,1.0,3,700
281727,4,1,0,10:28,PA,43039,2,1,1,f,4.0,72,69,1,3.0,0.0,3,645
140907,6,1,3,13:25,ID,38257,1,0,9,f,1.0,33,33,0,3.0,7.0,2,600
281725,7,1,4,13:12,FL,33934,1,1,2,f,2.0,66,66,0,3.0,15.0,2,619
281723,4,1,2,12:56,NY,44188,1,0,0,g,1.0,49,49,0,3.0,15.0,1,675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246869,10,1,1,16:57,OR,37162,2,0,4,e,1.0,63,58,1,4.0,0.0,2,625
123479,9,1,1,9:33,NY,34990,2,1,1,g,2.0,63,61,1,4.0,2.0,1,684
246873,6,1,1,15:32,OH,32542,1,1,5,d,4.0,22,22,0,3.0,5.0,3,611
246879,7,1,2,12:44,OK,44545,1,1,8,d,4.0,69,69,0,1.0,4.0,2,632
123473,6,1,0,12:13,NY,43453,1,1,8,g,1.0,29,29,0,3.0,8.0,1,632
246849,9,1,2,17:22,AL,40228,1,0,1,f,2.0,32,32,0,3.0,15.0,2,618
246857,7,1,3,9:43,ME,35179,2,1,18,c,4.0,44,42,1,3.0,15.0,1,559
123459,6,1,0,10:48,FL,34732,1,1,2,e,1.0,64,64,0,1.0,15.0,3,580
246861,6,1,3,14:02,RI,30910,1,1,10,e,3.0,43,43,0,3.0,1.0,3,635
123457,5,1,2,12:20,NY,31504,1,1,7,d,1.0,66,66,0,1.0,11.0,1,662
246839,4,1,1,13:21,IN,40120,1,1,11,e,3.0,67,67,1,1.0,13.0,2,606
123451,10,1,1,17:51,OH,43792,1,0,11,f,3.0,65,65,0,3.0,15.0,2,606
123453,5,1,4,17:53,IN,32476,2,1,5,f,1.0,29,26,1,3.0,5.0,2,606
123455,5,1,4,14:34,NY,46234,1,1,1,g,3.0,59,59,0,4.0,9.0,1,689
123441,9,1,0,15:34,IN,44851,1,0,4,e,3.0,33,33,0,1.0,1.0,2,683
123445,9,1,3,11:39,FL,30949,1,1,3,e,2.0,61,61,0,3.0,15.0,3,616
246843,8,1,0,19:48,AL,32911,1,1,5,e,4.0,75,75,0,1.0,15.0,3,647
246823,8,1,2,9:31,FL,37483,1,1,1,f,1.0,37,37,0,2.0,15.0,2,623
123427,3,1,3,12:31,MD,34840,2,1,1,i,2.0,72,63,1,3.0,15.0,3,704
246827,11,1,1,11:32,FL,39223,2,1,1,e,2.0,71,23,0,1.0,15.0,3,707
123431,7,1,3,12:48,NY,31987,1,0,4,e,2.0,73,73,0,1.0,2.0,1,703
123419,6,1,0,11:42,FL,35047,1,0,14,d,1.0,71,71,0,2.0,1.0,2,645
246805,8,1,1,13:58,FL,35113,1,1,6,e,1.0,59,59,0,4.0,6.0,3,610
123411,8,1,0,13:21,PA,31576,2,0,1,f,4.0,66,65,1,4.0,3.0,2,641
246813,6,1,3,12:12,OR,37135,2,1,0,g,1.0,71,70,1,4.0,5.0,3,602
246791,3,1,3,14:57,FL,30382,1,1,1,e,1.0,75,75,0,4.0,15.0,2,642
123403,8,1,1,11:35,NY,46099,1,0,8,f,2.0,25,25,0,4.0,3.0,1,663
246785,4,1,4,14:04,FL,36445,2,1,7,e,1.0,66,64,1,3.0,12.0,3,595
246793,6,1,3,12:36,FL,35482,1,0,2,g,3.0,44,44,0,3.0,3.0,2,704
123397,9,1,4,15:06,NE,35272,1,1,15,f,4.0,51,51,0,1.0,3.0,4,574

To verify if the NaN values were dropped we can check the count.

In [9]:
train_new.count(axis=0, level=None, numeric_only=False)

shopping_pt          43349
record_type          43349
day                  43349
time                 43349
state                43349
location             43349
group_size           43349
homeowner            43349
car_age              43349
car_value            43349
risk_factor          43349
age_oldest           43349
age_youngest         43349
married_couple       43349
C_previous           43349
duration_previous    43349
policy               43349
cost                 43349
dtype: int64

This shows that all the NaN's have been deleted. The number of rows decreased from 67663 to 43349, i.e, 35% of the data had incomplete records.

<u>`Step 4`</u> : Remove Duplicates

Every row has a set of features that represent the customer's profile. When the same combination of features repeat, the model will get biased as it would see one/few set of features (i.e, customer profiles) more often than the others. Therefore the right approach would require the model to be trained by unique set of sample data.

To do this first, the columns where the duplicates need to be looked for should be selected.

In [ ]:
columns_to_search = train['']

In [ ]:
del train['customer_ID']